<div class="row display" >
    <div class="col-sm-12">
        <div class="task">
            <div class="col-sm-1  taskCol">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="checked">
                        <span class="cr chckBox"><i class="cr-icon fa fa-check"></i></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-11">
                <h4 class="lead">{{toDos.todo}}</h4>
            </div>
        </div>

    </div>
</div>